{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body_class %}dashboard-page{% endblock %}

{% block content %}
<div class="dashboard-container">
    {% include "partials/dashboard_header.html" %}

    <div id="dashboardContent" class="grid-cards">
        {% include "partials/dashboard_educator_panel.html" %}
        {% include "partials/dashboard_my_mentor_card.html" %}
        {% include "partials/dashboard_chat_card.html" %}
        {% include "partials/dashboard_study_management_card.html" %}
        {% include "partials/dashboard_progress_card.html" %}
        {% include "partials/dashboard_plan_card.html" %}
        {% include "partials/dashboard_exam_card.html" %}
        {% include "partials/dashboard_links_card.html" %}
        {% include "partials/dashboard_classes_card.html" %}
        {% include "partials/dashboard_office_hours_card.html" %}
        {% include "partials/dashboard_meetings_card.html" %}
        {% include "partials/dashboard_files_card.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat_widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
